<div class="container text-center">
    <div class="row ">
        <div class="col-sm-4">
            <div class="thumbnail">
                <img src="webapp/images/customer_stories_1.jpg" alt="Paris">
                <p><strong>Clay Decors</strong></p>
                <p>$77</p>
                <button class="btn">Add to Cart</button>
                <input class="item-quantity" type="number" min="0" style="width: 55px">
            </div>
        </div>
        <div class="col-sm-4">
            <div class="thumbnail">
                <img src="webapp/images/customer_stories_2.jpg" alt="New York">
                <p><strong>Ear rings big</strong></p>
                <p>$55</p>
                <button class="btn">Add to Cart</button>
                <input class="item-quantity" type="number" min="0" style="width: 55px">
            </div>
        </div>
        <div class="col-sm-4">
            <div class="thumbnail">
                <img src="webapp/images/clay_home.jpg" alt="San Francisco">
                <p><strong>Ear rings small</strong></p>
                <p>$31.99</p>
                <button class="btn">Add to Cart</button>
                <input class="item-quantity" type="number" min="0" style="width: 55px">
            </div>
        </div>
    </div>
</div>
