

<div class="jumbotron">
    <div class="container color-white">
        <h1>Join us to start your keto journey!</h1>
        <form>
            <div class="form-group">
                <input type="email" name="input" ng-model="email.text" placeholder="Enter your email" required>
                <button type="submit" class="btn btn-default">Submit</button>
            </div>
        </form>
        <small class="form-text color-white text-muted">No spam ever!</small>
    </div>
</div>

<!-- Container (The Band Section) -->
<div  class="container-fluid">
    <div class="text-center">
        <h3>Our recipes</h3>
        <p>These are the recipes personally tried and tested by us.</p>
    </div>
    <br>
    <div class="row margin-five no-margin-bottom">
        <!-- adventure item -->
        <div class="col-md-3 col-sm-6 no-padding travel-adventure overflow-hidden bg-black position-relative text-center">
            <a href="#"><img class="image-tnail" src="webapp/images/recipes/deserts.jpeg" alt=""></a>
            <figure class="text-large letter-spacing-3 white-text">Keto Chocolate Mug Cake</figure>
        </div>
        <!-- end adventure item -->
        <!-- adventure item -->
        <div class="col-md-3 col-sm-6 no-padding travel-adventure overflow-hidden bg-black position-relative text-center">
            <a href="#"><img class="image-tnail" src="webapp/images/recipes/indian.jpeg" alt=""></a>
            <figure class="text-large letter-spacing-3 white-text">Chicken Kabab</figure>
        </div>
        <!-- end adventure item -->
        <!-- adventure item -->
        <div class="col-md-3 col-sm-6 no-padding travel-adventure overflow-hidden bg-black position-relative text-center">
            <a href="#"><img class="image-tnail" src="webapp/images/recipes/italian.jpeg" alt=""></a>
            <figure class="text-large letter-spacing-3 white-text">Keto Alfredo</figure>
        </div>
        <div class="col-md-3 col-sm-6 no-padding travel-adventure overflow-hidden bg-black position-relative text-center">
            <a href="#"><img class="image-tnail" src="webapp/images/recipes/breakfast.jpeg" alt=""></a>
            <figure class="text-large letter-spacing-3 white-text">Breakfast Omlettes</figure>
        </div>
    </div>
    <div class="text-center">
        <button type="submit" class="btn btn-default" href="#recipes">Take me to more delicious recipes!</button>
    </div>
</div>
<br><br>
<!-- Container (Experience Section) -->
<div id="tour" class="bg-1">
    <div class="container">
        <h3 class="text-center">USER STORIES</h3>

        <h2>I Love Food</h2>
        <h5><span class="glyphicon glyphicon-time"></span> Post by Super man, Sep 27, 2015.</h5>
        <h5><span class="label label-danger">Food</span> <span class="label label-primary">Ipsum</span></h5><br>
        <p>Food is my passion. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <br><br>
    </div>
</div>

<div>
    <div id="aboutus" class="container">
        <h3 class="text-center">About Us</h3>
        <p class="text-center"><em>We used to love junk!</em></p>

        <p>
            Our lives changed after starting keto!
        </p>
        <br>
        <p>Food is my passion. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
</div>

<!-- Container (Contact Section) -->
<div class="bg-1">
    <div id="contact" class="container">
        <h3 class="text-center">Contact</h3>
        <p class="text-center"><em>We love our customers!</em></p>

        <div class="row">
            <div class="col-md-4">
                <p>Have a question? Drop a note.</p>
                <p><span class="glyphicon glyphicon-map-marker"></span>Atlanta, US</p>
                <p><span class="glyphicon glyphicon-phone"></span>Phone: +00 1515151515</p>
                <p><span class="glyphicon glyphicon-envelope"></span>Email: mail@mail.com</p>
            </div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-sm-6 form-group">
                        <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
                    </div>
                    <div class="col-sm-6 form-group">
                        <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
                    </div>
                </div>
                <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea>
                <br>
                <div class="row">
                    <div class="col-md-12 form-group">
                        <button class="btn pull-right" type="submit">Send</button>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </div>
</div>

